<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	  <!--<add name="DatabaseContext" connectionString="data source=DESKTOP-8K7QL6F;initial catalog=biggoomlah_;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
	  <!--<add name="DatabaseContext" connectionString="Data Source=94.130.164.78\MSSQLSERVER2019;Initial Catalog=biggoomlah_;User Id=BigGomlaDatabase;Password=laK^m935BEhtxtqw;" providerName="System.Data.SqlClient" />-->
	  <add name="DatabaseContext" connectionString="Data Source=SQL5080.site4now.net;Initial Catalog=db_a6e36f_biggoomlah;User Id=db_a6e36f_biggoomlah_admin;Password=Biggoomlah_123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>