<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Scripts/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/Scripts/fonts/linearicons-v1.0.0/icon-font.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/vendor/MagnificPopup/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Content/css/util.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/ayman.css" rel="stylesheet" />
    <link href="~/Content/css/ayman2.css" rel="stylesheet" />
</head>

<body class="bg-white">

    @RenderBody()
    <!-- end page -->
    <!-- Vendor js -->
    <script src="~/assets/js/vendor.min.js"></script>

    <!-- Bootstrap select plugin -->
    <script src="~/assets/libs/bootstrap-select/bootstrap-select.min.js"></script>

    <!-- App js -->


    @RenderSection("scripts", required: false)
    <!--===============================================================================================-->
    <script src="~/Content/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>


    <!--===============================================================================================-->
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/slick/slick.min.js"></script>
    <script src="~/Scripts/js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/parallax100/parallax100.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/sweetalert/sweetalert.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/marquee.en.js"></script>

</body>
</html>