
@{
    ViewBag.Title = "VendorProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- ======================== Profile ========================== -->

<section class="vendor-profile mx-auto">


    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12">


                <!-- ======================== Profile Cover ========================== -->

                <div class="profile-cover border-bottom">
                    <img src="~/Images/blog-01.jpg" height="300" width="100%" alt="">
                </div>

                <!-- ======================== Profile Cover  End========================== -->
                <!-- ======================== navbar and logo ========================== -->


                <div class="row align-items-md-center bg-white no-gutters">

                    <div class="col-md-3">
                        <span class="px-3">Logo</span>

                    </div>

                    <div class="col-md-9">









                        <ul class="nav justify-content-md-end ">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Products <span class="product-num">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Products <span class="product-num">6</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Photos <span class="product-num">0</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact </a>
                            </li>
                            <li class="nav-item">


                                <div class="dropdown  nav-link">
                                    <button class="dropleft" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>

                </div>


                <!-- ======================== navbar and logo  End========================== -->

            </div>


            <div class="col-md-3">
                <div class="card mt-4">
                    <div class="card-header">
                        Company
                    </div>
                    <div class="card-body">



                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        Member Status
                    </div>
                    <div class="card-body">



                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        Social Networks
                    </div>
                    <div class="card-body">



                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        Primary Markets
                    </div>
                    <div class="card-body">



                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        Product Categories
                    </div>
                    <div class="card-body">



                    </div>
                </div>








            </div>




            <div class="col-md-9 pl-17">


                <!-- ========================Contact========================== -->




                <div class="card mt-4">
                    <div class="card-header">
                        Contact information
                    </div>
                    <div class="card-body">




                    </div>
                </div>

                <!-- ========================Contact End========================== -->
                <!-- ======================== Member Sign in Messsage ========================== -->



                <div class="card mt-4">
                    <div class="card-header">
                        Send Message
                    </div>
                    <div class="card-body">

                        <div class="need-be-user">
                            <p>You must be signed in to contact this supplier.</p>
                            <p><strong>Not a member? </strong><a href="#"> Join Now FREE</a></p>
                            <p>Already a member? <a href="#">Sign In</a></p>
                        </div>

                    </div>
                </div>


                <!-- ======================== Member Sign in Messsage  End========================== -->
                <!-- ======================== Products ========================== -->


                <div class="card mt-4">
                    <div class="card-header">
                        Products information
                    </div>
                    <div class="card-body">

                        <!-- products -->
                        <div class="sec-blog bg0 p-b-90">
                            <div class="container">


                                <div class="row">
                                    <div class="col-sm-6 col-md-3 p-b-40">
                                        <div class="blog-item">
                                            <div class="hov-img0">
                                                <a href="blog-detail.html">
                                                    <img src="~/Images/blog-01.jpg" alt="IMG-BLOG">
                                                </a>
                                            </div>

                                            <div class="p-t-15">

                                                <p class="stext-108 cl6">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 p-b-40">
                                        <div class="blog-item">
                                            <div class="hov-img0">
                                                <a href="blog-detail.html">
                                                    <img src="~/Images/blog-02.jpg" alt="IMG-BLOG">
                                                </a>
                                            </div>

                                            <div class="p-t-15">




                                                <p class="stext-108 cl6">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-md-3 p-b-40">
                                        <div class="blog-item">
                                            <div class="hov-img0">
                                                <a href="blog-detail.html">
                                                    <img src="~/Images/blog-03.jpg" alt="IMG-BLOG">
                                                </a>
                                            </div>

                                            <div class="p-t-15">


                                                <p class="stext-108 cl6">
                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- end products -->


                    </div>
                </div>


                <!-- ======================== Products  End========================== -->
                <!-- ======================== About Company ========================== -->


                <div class="card mt-4">
                    <div class="card-header">
                        About
                    </div>
                    <div class="card-body">



                    </div>
                </div>

                <!-- -------------------------------------------------------------------- -->

                <div class="card mt-4 ">
                    <div class="card-header">
                        Basic Information
                    </div>
                    <div class="card-body">



                    </div>
                </div>

                <!-- ======================== About Company  End========================== -->
                <!-- ======================== Home ========================== -->

                <div class="row no-gutters">
                    <div class="col-md-8 pr-17">
                        <div class="card mt-4">
                            <div class="card-header">
                                About
                            </div>
                            <div class="card-body">



                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mt-4">
                            <div class="card-header">
                                Member Status
                            </div>
                            <div class="card-body">



                            </div>
                        </div>
                    </div>

                </div>


                <!-- ======================== Home  End========================== -->



            </div>

            <div class="col-md-12">
                <!-- ======================== Member Sign in Messsage ========================== -->



                <div class="card mt-4">
                    <div class="card-header">
                        Latest Products
                    </div>
                    <div class="card-body">



                    </div>
                </div>


                <!-- ======================== Member Sign in Messsage  End========================== -->
                <!-- ======================== Latest Products ========================== -->

                <div class="card mt-4">
                    <div class="card-header">
                        Latest Products
                    </div>
                    <div class="card-body">

                        <div class="need-be-user">
                            <p>You must be signed in to contact this supplier.</p>
                            <p><strong>Not a member? </strong><a href="#"> Join Now FREE</a></p>
                            <p>Already a member? <a href="#">Sign In</a></p>
                        </div>

                    </div>
                </div>

                <!-- ======================== Latest Products  End========================== -->

            </div>

        </div>
    </div>



</section>

<!-- ======================== Profile  End========================== -->
