@model IEnumerable<IdentityLibrary.DataModel.FWYAds>
@using BagGomla.LocalResource
@{ ViewBag.Title = "صور الواجهة";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_DefualtLayout.cshtml";
    } }

<br />
<br />
<br />
<div class="container">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-10">
                    <h3>صور الواجهة</h3>
                </div>
                <div class="col-md-2" style="text-align:right">
                    <a href="/FacadeImage/Create" class="btn btn-success"><i class="fa fa-plus"></i> أضافه جديد</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">


                <div class="col-12 text-center">
                    <table class="table" style="text-align:center; justify-content:center">
                        <thead>
                            <tr style="text-align:center; justify-content:center">
                                <td>الصورة </td>
                                <td>تاريخ  الرفع </td>
                                <td>التفاصيل</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr style="text-align:center; justify-content:center">
                                    <td>   <img src="~/Images/SliderAds/@item.Image" width="150" height="150" /></td>
                                    <td>@item.DateIn.Date.ToString("dd/MM/yyyy")</td>
                                    <td>
                                        @if (item.IsDeleted == false)
                                        {
                                            <a class="btn btn-danger" href="@Url.Action("Delete" , "FacadeImage" , new { id = item.Id })">مسح</a> 
                                        }
                                        @*else
                                        {
                                            <h6 style="color:red">تم مسح الصورة</h6>
                                        }*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
</div>
